.LoginPage{

    margin-top: 60px;

}

.pass{

    margin-top:20px;
}

.ButtonLogin{
    margin-top: 20px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #222;

}

#loginbtn{

    margin-top: 20px;
}

#lgnmain{

    margin-top: 30px;
}