button{

    font-size: 15px;
    background-color: green;
    color: white;
    padding: 15px 30px 20px;
    margin-top: 30px;

}

.spnctr{

    font-size: 20px;
    padding: 10px 20px;

}

.reset{

    background-color: blue;
    margin-top: 20px;
}